<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="static\style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div style="margin-left: 400px;margin-top: 100px;">
    <h1>Welcome, {{ username }}!</h1><br><br>
    <br><h2>Your Files:</h2><br>
    <ul>
        {% for file in files %}
            <li>
                <a href="{{ url_for('download', file_id=file.id) }}">{{ file.filename }}</a>
                (Uploaded at: {{ file.uploaded_at.strftime('%Y-%m-%d %H:%M:%S') }})<br>
            </li>
        {% endfor %}
    </ul>
    <br><div><a href="{{ url_for('upload') }}" class="btn">Upload a New File</a></div>
    <br><br>
    <br><a href="{{ url_for('logout') }}" class="btn">Logout</a>
    </div>
</body>
</html>
