<!DOCTYPE html>
<html>
<head>
    <style>
        .btn{
        width: 100px;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 24px;
    box-shadow: 0 0 10px rgba(226, 5, 5, 0.349);
    background-color: rgba(160, 60, 60, 0.205);
    color: #2c2b2b;
    font-weight: 5px;
    transition: background-color 0.3s ease;
    padding: 10px;
        }
    </style>
    <title>Upload File</title>
    
</head>
<body style="background-image: url(C:\Users\KK\Desktop\nanmudhalvan\static\img1.png);margin-left: 400px;margin-top: 200px;">
    <h1>Upload a New File</h1>
    <form method="POST" action="{{ url_for('upload') }}" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <button type="submit" class="btn">Upload</button>
    </form>
    <br><br><a href="{{ url_for('dashboard') }}" class="btn">Back to Dashboard</a>
</body>
</html>
