<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static\style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Upload File</title>
    
</head>
<body>
    <div class="container">
    <h1>Upload a New File</h1>
    <form method="POST" action="{{ url_for('upload') }}" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <button type="submit" class="btn">Upload</button>
    </form>
    <br><br><a href="{{ url_for('dashboard') }}" class="btn">Back to Dashboard</a>
    </div>
</body>
</html>
